body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
     position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav .logo {
    padding-left: 20px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
}

.nav li {
    margin: 0 7px;
    position: relative;
    color: transparent;
}


.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-precalificate {
    background-color: #00b6e1;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: black !important;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.btn-precalificate img {
    width: 20px;
    height: auto;
    margin-left: 8px;
}

.btn-whatsapp {
    background-color: #47c857;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 10px 15px;
    color: white;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

}

li.mover-item {
    position: relative;
    left: 25px;
}


.btn-whatsapp img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

/* Hero Section */
.hero-section {
    background-color: #000;
    color: #fff;
    text-align:left;
    position: relative;
    padding: 20px;
    user-select: none;
}

.hero-section h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 57px;
    line-height: 1.2;

}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text-section {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.image-section {
    flex: 1;

}

.image-section img {
    height: 420px;
    margin-left: 100px;
    position: absolute;
    top: 50px;
    transform: translateX(-15%);
    z-index: 1;
}

.cta-section {
    background-color: #007a97;
    border-radius: 25px;
    padding: 40px 20px;
    margin-top: 20px;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    min-height: 130px;
    z-index: 0;
}

.cta-box p {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}

.cta-button {
    background-color: #fff;
    color: #03b6e1;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    padding: 13px 120px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e1e1e1;
}


/* Soluciones section */
#soluciones {
    background: linear-gradient(to bottom, #007bba 0%, #0096d6 40%, #00b6e1 70%, #ffffff 100%); /* Ajusta los colores y las posiciones */
    padding: 90px 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    user-select: none;

}

#soluciones h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 43px;
    font-weight: 800;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}

.soluciones-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;

}

.solucion {
    background-color: #5dc8d3;
    border-radius: 30px;
    flex: 1;
    min-width: 250px;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.solucion img {
    width: 150px;
    height: auto;
    margin: 15px auto;

}

.imagen-grande {
    width: 200px !important;
    height: auto !important;
    display: block;
    margin: 0 auto;

}

.solucion h3 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.solucion p {
    font-size: 15px;
    color: #f0f0f0;
    margin-top: 0;
    margin-bottom: auto;
    text-align: left;
    padding-left: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

.solucion .btn {
    display: block;
    width: 91%;
    margin-top: 10px;
    padding: 15px 20px;
    background-color: #fff;
    color: #0083a4;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
    transition: background-color 0.3s;
    margin-bottom: -11px;
}

.solucion .btn:hover {
    background-color: #d4f1f4;
}

.image-section-soluciones {
    position: relative;
    text-align: center;
    margin-top: 20px;

}

.over-image-soluciones {
    height: 550px;
    width: auto;
    position: absolute;
    left: -33.5%;
    right: -20%;
    top: -700px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}



/* influencia section */
#influencia {
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 20px;
    margin: 20px auto;
    max-width: 100%;
}

.video-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    display: block;
    border: 2px solid #00b6e1;
    height: 500px;
    width: 100%;
    margin-left: -10%;
    margin-right: -10%;
    max-width: none;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sección de "Nosotros" */
#nosotros {
    background-color: #f9f9f9;
    padding: 52px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nosotros-container {
    background-color: #fff;
    max-height: 380px; /* Ajusta la altura máxima de las tarjetas */

    border-radius: 15px;
    padding: 20px;
    flex: 1 1 35%; /* Ajusta el ancho */
    max-width: 420px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.nosotros-container .heading,
.nosotros-container .subheading,
.nosotros-container .description {
    margin-left: 20px; /* Mueve el contenido hacia la derecha */
}


.nosotros-container .cta-button {
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
    padding: 12px 30px;
    background-color: #00b6e1;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    width: fit-content; /* Ajusta el ancho al contenido */
}

.nosotros-container .heading,
.nosotros-container .subheading,
.nosotros-container .description {
    margin-left: 20px; /* Mueve el contenido hacia la derecha */
}

.heading {
    font-size: 36px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #00b6e1;
    margin-bottom: 5px;

}

.subheading {
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 10px;
}

.description {
    font-size: 24px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #00b6e1;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}





/* Ajustes de las estadísticas */
.stats-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%; /* Ajustar el espacio para las estadísticas */
    gap: 15px;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.stat-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 9px 40px; /* Ajusta el padding interno */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 100px;
}

/* Títulos y descripciones de estadísticas */
.stat-title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: #00b6e1;
    margin-top: 0;
    margin-bottom: 5px;
     }

.small-text {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;

}

.stat-description {
    font-size: 17px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #555;
    line-height: 1.4;
}

.stat-highlight {
    font-size: 17px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #000;
    margin-bottom: -14px;
}


/* Contenedor principal del footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #000;
    color: white;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}


/* Productos y contacto */
.footer-section.productos ul {
    list-style-type: none;
    padding: 0;
}

.footer-section.productos ul li {
    margin-bottom: 8px;
}

.footer-section.productos ul li a {
    font-size: 14px;
    color: #b6b9bc;
    text-decoration: none;
}

.footer-section.productos ul li a:hover {
    color: #ffffff;
}

.footer-section p,
.footer-section a {
    color: #b6b9bc;
    font-size: 14px;
    text-decoration: none;
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-section.contacto {
    margin-right: 100px;
}

.social-icons-bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
}

.social-icons-bottom a {
    color: #b6b9bc;
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons-bottom a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #000;
    color: #b6b9bc;
    font-size: 12px;
}

.footer-bottom p {
    margin: 0;
}

.footer-section p i {
    margin-right: 8px;
}

.footer-section.noticias {
    margin-top: 30px;
}

.suscribete-boletin, .zona-editorial {
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
    font-weight: 400; /* Peso regular */
    font-size: 22px; /* Tamaño de fuente */
    line-height: 1.4; /* Espacio entre líneas para mejorar legibilidad */
    color: #b6b9bc; /* Color del texto, puedes ajustarlo si es necesario */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
}

